@font-face {
  font-family: Dorsa;
  src: url("./assets/fonts/Dorsa-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans Caption";
  src: url("./assets/fonts/PTSansCaption-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Caption";
  src: url("./assets/fonts/PTSansCaption-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

[data-bs-theme="green"] {
  --white-yellow: #ffee9415;
  --dark-green: #212d26;
  --custom-primary: rgba(171, 245, 145, 0.8);
  --custom-secondary: #75ab65;
  --custom-tertiary: rgba(150, 169, 140, 0.41);
  --category-header: #afffca;
  --active-category-header: #21504d;
  --active-link-color: #057d59;
  --button-hover: #539250;
  --filter-color: initial;
}

[data-bs-theme="dark"] {
  --dark-green: #adb5bd;
  --custom-tertiary: rgba(126, 131, 117, 0.41);
  --category-header: #212427;
  --active-category-header: #6d7a88;
  --active-link-color: #adb5bd;
  --filter-color: grayscale(90%) brightness(40%);
}

body {
  color: var(--dark-green);
}

main {
  margin: 0 auto;
}

.logo {
  font-family: Dorsa, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-decoration: none;
  color: var(--dark-green);
  font-size: 3rem;
  line-height: 1;
}

.theme-toggler {
  background-color: var(--active-link-color);
}

.header-container,
.footer-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr;
}

.header-text,
.footer-text {
  grid-column-start: 1;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.header-img,
.footer-img {
  grid-column-start: 1;
  grid-row-start: 1;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.menu-img {
  grid-column-start: 1;
  grid-row-start: 1;
}

.menu-text {
  grid-column-start: 1;
  grid-row-start: 1;
  z-index: 2;
}

.desc {
  font-family: "PT Sans Caption", sans-serif;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.bg-white-yellow {
  background-color: var(--white-yellow);
}
.bg-color-custom {
  font-family: Dorsa, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--dark-green);
  color: var(--category-header);
}

.custom-border {
  border: 2px solid var(--active-link-color);
}

.custom-border-width-3 {
  border-width: 3px;
}

.font-pt-sans-400 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 400;
}

.font-pt-sans-700 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
}

.header-height {
  height: 64px;
}

.footer-height {
  height: 98px;
}

.bg-image-header {
  background-image: url("./assets/images/header.webp");
  background-size: cover;
}

.bg-image-footer {
  background-image: url("./assets/images/header.webp");
  background-size: cover;
}

.bg-image-finance {
  background-image: url("./assets/images/finance.webp");
  background-size: 100% 100%;
}

.bg-image-health {
  background-image: url("./assets/images/health.webp");
  background-size: 100% 100%;
}

.bg-image-currency {
  background-image: url("./assets/images/currency.webp");
  background-size: 100% 100%;
}

.bg-image-tech {
  background-image: url("./assets/images/tech.webp");
  background-size: 100% 100%;
}

.bg-image-header,
.bg-image-footer,
.bg-image-finance,
.bg-image-health,
.bg-image-tech,
.bg-image-currency {
  filter: var(--filter-color);
}

.bg-deep-green {
  background-color: var(--custom-primary) !important;
  color: var(--dark-green) !important;
  border-color: var(--custom-secondary) !important;
  transition: background-color 0.5s linear;
}

.bg-deep-green:hover {
  background-color: var(--custom-secondary) !important;
}

.form-check-input:checked {
  background-color: var(--custom-secondary) !important;
  border-color: var(--custom-secondary) !important;
}

.link {
  color: var(--dark-green);
  text-decoration: none;
  transition: background-color 0.4s linear;
  border: 1px solid transparent;
  border-radius: 3px;
}

.link:hover {
  background-color: var(--custom-tertiary);
}

.active {
  border: 1px solid;
  border-radius: 3px;
  border-color: var(--dark-green);
  color: var(--active-link-color);
  font-weight: bolder;
}

.active-category {
  background-color: var(--active-category-header);
}

.exclamation:before {
  fill: yellow;
}
.min-height {
  min-height: 100px;
}

.min-table-width {
  min-width: 400px;
}

.btn-close.close-button {
  font-size: 1.25rem;
  width: 1.5em;
  height: 1.5em;
  padding: 0.25rem 0.75rem;
  line-height: 1;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 15px;
  background-color: transparent;
  border: transparent;
  z-index: 2;
}

.chart-container {
  width: 100%;
  min-height: 300px;
}

@media (min-width: 576px) {
  .header-height {
    height: 98px;
  }

  .logo {
    font-family: Dorsa, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none;
    color: var(--dark-green);
    font-size: 72px;
  }
}

@media (min-width: 992px) {
  .scroll-to-top {
    bottom: 60px;
    right: 60px;
  }

  .chart-container {
    width: 100%;
    min-height: 600px;
  }
}

@media (max-width: 992px) {
  .mb-middle {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 993px) and (max-width: 1080px) {
  .mb-middle {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1081px) {
  .mb-middle {
    margin-bottom: 3rem;
  }
}
